

xio-resource {
    display: block;
}
xio-resource .cover {
    width: 120px;
    height: 100px;
    border: solid 1px #ccc;
}
xio-resource .header {
    display: none;
}
xio-resource .children {
    display: none;
}

xio-resource.item.selected,
xio-resource .item.selected
 {
    width: 100%;
    height: auto;
}
xio-resource.item.selected .header {
    display: block;
}
xio-resource.item.selected .children {
    display: block;
}

.item.full {
    width: 100%;
    height: auto;
}


.view-grid, 
.view-rows
    { display: none }


.view.view-grid .view-grid:not(.view)
{ 
    display: block;
    width: 20%;
    height: 200;
}
.view.view-rows .item:not(.selected) .view-rows 
{ 
    display: block;
    width: 100%;
    height: auto
}

.view-rows .item {
    width: 100%;
    height: auto;
    border: solid 1px #F80;
}


